language: python

dist: focal

sudo: false

stages:
  - test
  - bundle
  - name: deploy
    if: tag =~ /^v\d+\.\d+\.\d+$/ AND repo = HaaLeo/pylint-file-header

install:
  - pip install -r requirements-dev.txt

script:
  - pylint pylintfileheader pylintfileheadertest
  - pytest --cov pylintfileheader pylintfileheadertest

jobs:
  include:
    - stage: test
      python: 3.8
    - stage: test
      python: 3.9
    - stage: test
      python: 3.10
    - stage: test
      python: 3.11
    - stage: test
      python: 3.12
    - stage: test
      python: 3.13
    - stage: test
      python: 3.14
      after_success:
        - codecov

      # Bundle Stage
    - stage: bundle
      python: 3.14
      script:
        - cp ThirdPartyNotices.txt ./pylintfileheader
        - python -m build --sdist --wheel

      # Deploy Stage
    - stage: deploy
      python: 3.14
      before_deploy:
        - cp ThirdPartyNotices.txt ./pylintfileheader
        - python -m build --sdist --wheel --no-isolation
        - twine upload dist/* -u __token__ -p ${PYPI_TOKEN}
      script: skip
      deploy:
        provider: releases
        file_glob: true
        file: "dist/*"
        api_key: ${TRAVIS_CD}
        skip_cleanup: true
        on:
          tags: true
